.banner {
  padding: 2rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .brand {
    img {
      max-width: 470px;
    }
  }
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;

  color: $black;
}
